{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "website/components/head.html" %}
    <title>TF | cQuizy | Groups</title>
</head>
<body>
    {% include "website/components/header.html" %}

    <br><br>

    <!-- FORM SECTION -->
    <div id="groupsForms">
        <div class="item">
            <p id="groupsCreate" class="formTitle">Create a New Group</p>
            <form id="formCreateGroup">
                <label>Group Name*</label><br>
                <input id="groupNameInput" type="text" placeholder="Name" required><br>
                <button>Create</button>
            </form>
        </div>
        <div class="item">
            <p id="groupsJoin" class="formTitle">Join a Group</p>
            <form id="formJoinGroup">
                <label>Group Code*</label><br>
                <input id="groupInviteInput" type="text" placeholder="Invite Code" required><br>
                <button>Join</button>
            </form>
        </div>
    </div>
    
    <br><br>

    <!-- DYNAMIC CONTENT SECTION -->
    <div id="groupsContainer">
        <!-- This container will be filled with groups by groups.js -->
    </div>

    <script src="{% static 'js/groups.js' %}"></script>
</body>
</html>