{% load static %}

<nav class="navbar">
    <div class="nav-left">
        <a class="nav-item" href="/">
            <img class="nav-logo" src="{% static 'img/cQuizy.png' %}" alt="cQuizy Logo">
        </a>
        <a class="nav-item" href="/admin">Admin Panel</a>
        <a class="nav-item" href="/api/docs">API Docs</a>
        <a class="nav-item" href="/groups">Groups</a>
    </div>
    <div class="nav-right">
        <a class="nav-button" href="/login/">Log In</a>
        <a class="nav-button" href="/register/">Register</a>
    </div>
</nav>
<script src="{% static 'js/main.js' %}"></script>