name: cquizy
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_form_builder: ^10.2.0
  form_builder_validators: ^11.2.0
  wave: ^0.2.2
  http: ^1.5.0
  flutter_slidable: ^3.1.0


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/logo/logo_2.png
    